.button {
  font-weight: bold;
  border-radius: 35px;
  margin-left: 0%;
  font-size: 20px;
  margin-top: 3%;
  border-color: #ffc808;
  background-color: #ffc808;
  color: #202124;
  width: 120px;
}
.yellow {
  border-color: #ffc808;
  background-color: #ffc808;
  color: #202124;
}
.yellow:hover {
  border-color: #ffc808;
  background-color: #ffc808;
  color: #202124;
}
.yellow:active {
  border-color: #ffc808;
  background-color: #ffc808;
  color: #202124;
}

.yellow:focus {
  border-color: #ffc808;
  background-color: #ffc808;
  color: #202124;
}
.blue {
  border-color: #00bfff;
  background-color: #00bfff;
  color: #fff;
}
.blue:active {
  border-color: #00bfff;
  background-color: #00bfff;
  color: #fff;
}
.blue:hover {
  border-color: #00bfff;
  background-color: #00bfff;
  color: #fff;
}
.blue:focus {
  border-color: #00bfff;
  background-color: #00bfff;
  color: #fff;
}
.formLabel {
  font-size: 15px;
  font-weight: 500;
  color: #202124;
  margin-top: 3%;
}
.margin {
  margin-bottom: 3%;
}
.card {
  width: 10%;
  height: 10%;
  border-radius: 20px;
  padding-top: 20px;
}
.backgroundYellow {
  background-color: #ffc808;
}
.backgroundBlack {
  background-color: #202124;
}

.textCard {
  text-align: center;
}
.row {
  justify-content: space-around;
  width:70%;
}
