.App {
  margin-top: 3%;
  margin-left: 13%;
}
.row {
  justify-content: space-around;
  width: 85%;
}

.button1 {
  font-weight: bold;
  border-radius: 35px;
  margin-left: 0%;
  font-size: 16px;
  margin-top: 3%;
  border-color: #ffc808;
  background-color: #ffc808;
  color: #202124;
}
.yellow {
  border-color: #ffc808;
  background-color: #ffc808;
  color: #202124;
}
.black {
  border-color: #202124;
  background-color: #202124;
  color: #ffc808;
}
